.head {
    color: black;
    background-color: #E9A0A0;
    display: flex;
    padding-left: 3%;
}

.judul {
    padding-top: 150%;
    height: 150%;
    padding-top: 18%;
    text-align: center;
}

.tengah {
    display: flex;
    justify-content: center;
}

.img {
    margin: 0 50px;
    padding-top: 100px;
}

.poto {
    padding-top: 180px;
    margin: 0% 0%;
    margin-left: 5%;
    margin-right: 2%;
}

.form-group {
    margin-right: 18%;
    margin-left: 10%;
    color: white;
    padding-top: 100px;
}

input[type=text],
select {
    width: 170%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
select {
    width: 170%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=saran],
select {
    margin-left: 460px;
    width: 480px;
    padding-top: 100px;
    margin-top: 120px;
}